<template>
  <div class="home">
    <a-menu
            style="width: 256px"
            :default-selected-keys="['1']"
            mode="inline"
            @click="handleClick"
    >
      <a-menu-item key="1">
        <a-icon type="pie-chart" />
        <span>项目大类</span>
      </a-menu-item>
      <a-menu-item key="2">
        <a-icon type="desktop" />
        <span>大类列表</span>
      </a-menu-item>
    </a-menu>
    <router-view/>
  </div>
</template>

<script>
// @ is an alias to /src
import BigType from '@/components/BigType.vue'
import ProjectList from '@/components/ProjectList.vue'

export default {
  name: 'Home',
  components: {
    BigType,
    ProjectList
  },
  methods:{
    handleClick(e){
      console.log(e)
      if(e.key==2){
        this.$router.push('/BigType')
      }else{
        this.$router.push('/ProjectList')

      }
    }
  }
}
</script>
<style lang="less">
  .home{
    display: flex;
  }
</style>
