<template>
    <div>
        <a-button class="editable-add-btn" @click="handleAdd">
            Add
        </a-button>
        <a-table bordered :data-source="dataSource" :columns="columns"
                 rowKey="id">
            <template
                    v-for="col in [ 'bigtype']"
                    :slot="col"
                    slot-scope="text, record, index"
            >
                <div :key="col">
                    <a-input
                            v-if="record.editable"
                            style="margin: -5px 0"
                            :value="text"
                            @change="e => handleChange(e.target.value, record.id, col)"
                    />
                    <template v-else>
                        {{ text }}
                    </template>
                </div>
            </template>
            <template slot="action" slot-scope="text, record">
                <a-popconfirm
                        v-if="dataSource.length"
                        title="Sure to delete?"
                        @confirm="() => onDelete(record)"
                >
                    <a href="javascript:;">Delete</a>
                </a-popconfirm>
                <a-button type="text" v-if="!record.editable" @click="edit(record.id)">修改</a-button>
                <a-button type="text" v-else @click="confirmChange(record.bigtype,record.id)">保存</a-button>
            </template>
        </a-table>
    </div>
</template>

<script>
    import projectRequest from '@/service/projectRequest'

    export default {
        name: "BigType",
        data() {
            return {
                dataSource:[],
                editingKey:1,
                columns: [
                    {
                        title:'大类名称',
                        dataIndex: 'bigtype',
                        key: 'bigtype',
                        scopedSlots: { customRender: 'bigtype' },
                    },
                    {
                        title: 'Action',
                        key: 'action',
                        scopedSlots: {customRender: 'action'},
                    },
                ],
                data: [
                    {
                        key: '1',
                        name: 'John Brown',
                        age: 32,
                        address: 'New York No. 1 Lake Park',
                        tags: ['nice', 'developer'],
                    },
                    {
                        key: '2',
                        name: 'Jim Green',
                        age: 42,
                        address: 'London No. 1 Lake Park',
                        tags: ['loser'],
                    },
                    {
                        key: '3',
                        name: 'Joe Black',
                        age: 32,
                        address: 'Sidney No. 1 Lake Park',
                        tags: ['cool', 'teacher'],
                    },
                ],

        }
        },
        mounted(){
          this.getBigType()
        },
        methods:{
            getBigType(){
                projectRequest.getBigTypeList().then((res)=>{
                    console.log(res)
                    if(res.data.code===200){
                        this.dataSource=[...res.data.result.res]
                        let arr=res.data.result.res
                        arr.forEach((item)=>{
                            item.editable=false
                        })
                        this.$store.commit('updateBigTypeList',res.data.result.res)
                    }
                })
            },
            edit(key) {
                const newData = [...this.dataSource];
                const target = newData.filter(item => key == item.id)[0];
                this.editingKey = key;
                if (target) {
                    target.editable = true;
                    console.log(this.dataSource)
                    this.dataSource = newData;
                }
            },
            handleChange(value, key, column) {
                const newData = [...this.dataSource];
                const target = newData.filter(item => key === item.id)[0];
                if (target) {
                    target[column] = value;
                    this.dataSource = newData;
                }
            },
            onDelete(key) {
                let params={
                    id:key.id
                }
                projectRequest.deleteProjectBigtype(params).then((res)=>{
                    if(res.data.code===200){
                        this.$message.success(res.data.msg);
                        this.getBigType()
                    }
                })

            },
            handleAdd() {
                const { count, dataSource } = this;
                const newData = {
                    bigtype: `项目大类`,
                    editable:true
                };
                this.dataSource = [...dataSource, newData];
                this.count = count + 1;
            },
            confirmChange(value,id){
                let params={
                    bigtype:value
                }
                if(id){
                    params.id=id
                    projectRequest.updateProjectBigtype(params).then((res)=>{
                        if(res.data.code===200){
                            this.$message.success(res.data.msg);
                            this.getBigType()
                        }
                    })
                }else{
                    projectRequest.addProjectBigtype(params).then((res)=>{
                        if(res.data.code===200){
                            this.$message.success(res.data.msg);
                            this.getBigType()
                        }
                    })
                }

            }
        }
    }
</script>

<style scoped>

</style>