<template>
    <a-table :columns="columns" :data-source="data"
    rowkey="id">
        <span slot="action" slot-scope="record,key">
            <a-select  style="width: 120px" :default-value="record" @change="handleChange(record,key,$event)">
                <a-select-option v-for="item in bigTypeList" :value="item.id" >{{item.bigtype}}</a-select-option>
            </a-select>
        </span>
    </a-table>
</template>

<script>
    import projectRequest from '@/service/projectRequest'
    export default {
        name: "ProjectList",
        data() {
            return {
                columns: [
                    {
                        title:'项目名称',
                        dataIndex: 'pname',
                        key: 'pname',
                    },
                    {
                        title: '项目负责人',
                        dataIndex: 'lead',
                        key: 'lead',
                    },
                    {
                        title: '项目类型',
                        dataIndex: 'projecttype',
                        key: 'projecttype',
                    },
                    {
                        title: '项目大类',
                        key: 'bigtype',
                        dataIndex: 'bigtype',
                        scopedSlots: {customRender: 'action'},
                    },
                    // {
                    //     title: 'Action',
                    //     key: 'action',
                    //     scopedSlots: {customRender: 'action'},
                    // },
                ],
                data: [
                    {
                        key: '1',
                        name: 'John Brown',
                        age: 32,
                        address: 'New York No. 1 Lake Park',
                        tags: ['nice', 'developer'],
                    },
                    {
                        key: '2',
                        name: 'Jim Green',
                        age: 42,
                        address: 'London No. 1 Lake Park',
                        tags: ['loser'],
                    },
                    {
                        key: '3',
                        name: 'Joe Black',
                        age: 32,
                        address: 'Sidney No. 1 Lake Park',
                        tags: ['cool', 'teacher'],
                    },
                ],
                bigTypeList:[]
            }
        },
        mounted(){
            this.getBigType()
            this.getProjectList()
        },
        methods:{
            getBigType(){
                projectRequest.getBigTypeList().then((res)=>{
                    if(res.data.code===200){
                        this.bigTypeList=res.data.result.res
                        console.log(this.bigTypeList)
                        this.$store.commit('updateBigTypeList',res.data.result.res)
                    }
                })
            },
            getProjectList(){
                projectRequest.getProjectsList().then((res)=>{
                    if(res.data.code===200){
                        let table=res.data.result.res
                        // this.data=table.forEach((item)=>{
                        //     item.key=item.id
                        // })
                        this.data=table
                    }
                })
            },
            handleChange(name,row,value){
                let param={
                    bid:value,
                    id:row.id
                }
                projectRequest.updateProjectBigType(param).then((res)=>{
                    if(res.data.code===200){
                        this.$message.success(res.data.msg);
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>